name: TOCTOU Vulnerable

on: [workflow_dispatch]

jobs:
  build-push:
    runs-on: self-hosted
    steps:
      - run: |
          echo 'FROM ubuntu:22.04\nCMD ["echo", "CLEAN: Safe!"]' > Dockerfile
          docker build -t ghcr.io/$GITHUB_REPOSITORY:vulnerable .
          echo "${{ secrets.GHCR_PAT }}" | docker login ghcr.io -u $GITHUB_ACTOR --password-stdin
          docker push ghcr.io/$GITHUB_REPOSITORY:vulnerable

  deploy:
    needs: build-push
    runs-on: self-hosted
    steps:
      - run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/${{ github.repository | downcase }}:vulnerable .
          docker push ghcr.io/${{ github.repository_owner }}/${{ github.repository | downcase }}:vulnerable
