name: Malicious GitHub Action

on:
  pull_request_target:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}  # Checking out untrusted code
      - run: |
          npm install && npm test
        env:
          AWS_SECRET: ${{ secrets.AWS_SECRET }}  # Passing secrets to untrusted code
