name: TOCTOU Vulnerable

on: [workflow_dispatch]

jobs:
  build-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Create Dockerfile
        run: |
          # Create a basic Dockerfile with a simple "Safe Artifact" message
          echo -e 'FROM ubuntu:22.04\nCMD ["echo", "Safe Artifact"]' > Dockerfile
        
      - name: Build Docker image
        run: |
          # Build the Docker image with the "vulnerable" tag
          docker build -t ghcr.io/malicioustesting/malicioustesting:vulnerable .

      - name: Authenticate Docker to GHCR
        run: |
          # Login to GitHub Container Registry using GitHub PAT
          echo ${{ secrets.GHCR_PAT }} | docker login ghcr.io -u $GITHUB_ACTOR --password-stdin

      - name: Push Docker image to GHCR
        run: |
          # Push the image to GHCR with the "vulnerable" tag
          docker push ghcr.io/malicioustesting/malicioustesting:vulnerable

  deploy:
    needs: build-push
    runs-on: ubuntu-latest
    steps:
      - name: Authenticate Docker to GHCR (Deploy)
        run: |
          # Authenticate Docker again to pull the image for deployment
          echo ${{ secrets.GHCR_PAT }} | docker login ghcr.io -u $GITHUB_ACTOR --password-stdin

      - name: Pull and deploy the Docker image
        run: |
          # Pull and run the Docker image using the "vulnerable" tag
          docker pull ghcr.io/malicioustesting/malicioustesting:vulnerable
          docker run -d ghcr.io/malicioustesting/malicioustesting:vulnerable
