name: TOCTOU Vulnerable

on: [workflow_dispatch]

jobs:
  build-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Build Docker image
        run: |
          echo 'FROM ubuntu:22.04\nCMD ["echo", "Safe Artifact"]' > Dockerfile
          docker build -t ghcr.io/malicioustesting:vulnerable .
        
      - name: Authenticate Docker to GitHub Container Registry
        run: |
          echo ${{ secrets.GHCR_PAT }} | docker login ghcr.io -u $GITHUB_ACTOR --password-stdin
        
      - name: Push Docker image to GHCR
        run: |
          docker push ghcr.io/malicioustesting:vulnerable

  deploy:
    needs: build-push
    runs-on: ubuntu-latest
    steps:
      - name: Authenticate Docker to GitHub Container Registry (Deploy)
        run: |
          echo ${{ secrets.GHCR_PAT }} | docker login ghcr.io -u $GITHUB_ACTOR --password-stdin
        
      - name: Deploy the Docker image
        run: |
          docker pull ghcr.io/malicioustesting:vulnerable
          docker run -d ghcr.io/malicioustesting:vulnerable
